<%= render partial: 'layouts/header' %>
<div class= "container">
  <% unless @posts.blank? %>
    <% @posts.each do |post| %>
      <div class= "card-wrap">
        <div class= "card">
          <ul class= "card-header">
            <li class= "card-header__user-name">
              <%= post.user.name %>
            </li>
            <% if user_signed_in? && current_user.id == post.user_id %>
            <li class= "card-header__post-delete">
              <%= link_to image_tag("dust-icon.png", size: "20x20"), "/posts/#{post.id}", method: :delete, class: "post-delete__link" %>
            </li>
            <% end %>
          </ul>
          <%= image_tag post.image.url, size: "700x700", class: "main-content" %>
          <div class= "reaction">
            <%= render 'likes/like', post: post %>
          </div>
          <div class= "comment">
            <%= render "comments/comment", post: post %>
          </div>
          <hr width=90%>
          <%= form_for @comment, url: "/posts/#{post.id}/comments", id: "new_comment" do |f|%>
            <%= f.text_field :text, placeholder: "コメント...", class: "comment_form" %>
            <%= f.submit '送信', class: "comment-post" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>