<div class= "container">
  <% unless @posts.blank? %>
    <% @posts.each do |post| %>
      <div class= "card-wrap">
        <div class= "card">
          <div class= "card__header">
            <div class= "user-name">
              <%= post.user.name %>
            </div>
            <% if user_signed_in? && current_user.id == post.user_id %>
              <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
            <% end %>
          </div>
          <%= image_tag post.image.url %>
          <div class= "reaction">
            <%= render 'likes/like', post: post %>
          </div>
          <div class= "reaction-text">
            <h2>コメント一覧</h2>
              <div class= "comments">
                <%= render "comments/comment", post: post %>
              </div>
          </div>
          <%= form_for @comment, url: "/posts/#{post.id}/comments", id: "new_comment" do |f|%>
            <%= f.text_field :text, placeholder: "コメント...", class: "comment_text" %>
            <%= f.submit '送信' %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>